@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <img class="img-responsive" src="~/images/norwex_fullcolor.png" />
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the Norwex Kiosk Site!</h1>
        <p>Please <a asp-controller="Account" asp-action="Register">Register</a> 
        or <a asp-controller="Account" asp-action="Login">Login</a> to continue.</p>
    </div>
</div>