
@{
    ViewData["Title"] = "ProductWarning";
}

<div class="row">
    <h2>
        You need to be logged in as a vendor or customer to be able to view products. Please 
        <a asp-controller="Account" asp-action="Register">Register</a> 
        or <a asp-controller="Account" asp-action="Login">Login</a> to continue.
    </h2>
</div>

